@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Cardo', serif;
}

.sphere {
  border-radius: 100%;
  width: 75px;
  height: 75px;
  display: flex;
  overflow: hidden;
  align-items: center;
  position: relative;
}

.hemisphere {
  width: 50%;
  height: 100%;
}

.light {
  background-color: #f5e589;
}

.dark {
  background-color: #F4F6F0;
}

.fullmoon .light, .fullmoon .divider:after{
  filter: brightness(1.1) contrast(0.9) hue-rotate(342deg);
}

.feb .light, .feb .divider:after{
  background-color: #f87a5a;
}

.mar .light, .mar .divider:after{
  background-color: #52796f;
}

.apr .light, .apr .divider:after{
  background-color: #b8ade9;
}

.may .light, .may .divider:after{
  background-color: #5cc9eb;
}

.jun .light, .jun .divider:after{
  background-color: #ffb4a2;
}

.jul .light, .jul .divider:after{
  background-color: #c096c5;
}

.aug .light, .aug .divider:after{
  background-color: #f3c11d;
}
.sep .light, .sep .divider:after{
  background-color: #a3b182;
}
.oct .light, .oct .divider:after{
  background-color: #4d5692;
}
.nov .light, .nov .divider:after{
  background-color: #a18273;
}
.dec .light, .dec .divider:after{
  background-color: #f76264;
}

.divider,
.divider:after {
  top: 0;
  left: 0;
  width: 75px;
  height: 75px;
  position: absolute;
  border-radius: 100%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.divider {
  background-color: #F4F6F0;
}

.divider:after {
  content: '';
  background-color: #f5e589;
  transform: rotateY(180deg);
}
